<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWK2wH-HeqrahvujPgfpHCib1IT5wDMwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1025667419832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webPortfolio</string>
	<key>PROJECT_ID</key>
	<string>musabboltportfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>musabboltportfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025667419832:ios:9afb85cd8676e6f0c12e4d</string>
</dict>
</plist>